

/* PORTFOLIO */
.thumb-platform {
    height: 28px;
    padding: 6px 10px;
    position: absolute;
    right: 7px;
    top: 7px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 24px;
}
.thumb-platform img {
    height: 14px;
    display: block;
    margin: 0 auto;
}